.center {
    text-align: center;
}

h1 {
    padding: 50px;
}


.mePic {
    float: left;
    height: auto;
    width: 15%;
    content: url(JSImages/mehomepic.jpg);
    position: absolute;
    left: 15%;
    top: 7%;
}

#homeTable, th, td {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid;
    padding: 3px;
    background-color: yellow;
}

#homeTable th {
    background-color: yellow;
    padding: 10px;
}

#homeTable td {
    background-color: yellow;
    padding: 10px;
}

#project2Table, th, td {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid;
    background-color: white;
}

#project2Table th {
    width: 20%;
}

#project2Table td {
    width: 20%;
}

#projectMidTable, th, td {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid;
    background-color: white;
}

#projectMidTable th {
    width: 45%;
}

#projectMidTable td {
    width: 45%;
}

.logo {
    width: 4%;
}

footer {
    padding: 20px;
}

.colorCodesImg {
    width: 200;
    height: 50;
}

.mouseOverImg {
    width: 570;
    height: 370;
}

.p6s3Form {
    width: 80%;
    margin: 0 auto;
}

.p6s3Form label, input {
    display: inline-block;
}

.p6s3Form label {
    width: 30%;
    text-align: right;
}

.p6s3Form label + input {
    width: 30%;
    margin: 0 30% 0 4%;
}

.p6s3Form input + input {
    float: right;
}

.buttonHolder {
    text-align: center;
}